{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="content-wrapper upload-page edit-page">

    <!-- channel -->
    <div class="container-fluid add-header">
        <div class="row">
            <h1>
                Envoyer un message
            </h1>
        </div>
    </div>

    <div class="container mt-30">
        <form action="/mailsender" method="POST">
            <div class="row">
                <div class="col-lg-6 mx-auto card p-4 rounded-md">


                    {% if message =='Message envoyé avec succès' %}

                    <div class="alert alert-success" role="alert">
                        {{ message }} !
                    </div>
                    {% elseif message == 'une erreur est servenu' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }} !
                    </div>
                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        veuillez remplir les champs suivantes pour envoyer votre mail !
                    </div>
                    {% endif %}




                    <div class="u-form p-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">

                                    <input type="email" name="email" class="form-control" id="e1"
                                        placeholder="exemple@domain.com" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="form-control" name="message" id="message" rows="5" required
                                        aria-required="" placeholder="décrivez le motif de votre contact"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="u-area mt-small">
                        <form action="#" method="post">
                            <button name="submit" class="btn btn-primary u-btn">Envoyer</button>
                        </form>
                    </div>
                    <div class="u-terms">
                        <p>En soumettant cette formulaire vous acceptez les conditions RGPD pour la mis en relation.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script type="text/javascript">
    const $cityAutoComplete = $('.cityAutoComplete');
    $cityAutoComplete.autoComplete({
        resolver: 'custom',
        events: {
            search: (qry, callback) => {
                // Make a custom AJAX call
                $.ajax({
                    url: '/api/cities',
                    data: { query: qry }
                })
                    .done(res => callback(res))
                    .fail((xhr, status, error) => {
                        console.error(`Error fetching cities: ${error}`);
                        callback([]);
                    });
            }
        }
    });

    // Set a placeholder for the input field
    $cityAutoComplete.attr('placeholder', 'Search for cities...');
</script>
{% endblock %}
