{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="content-block head-div">
                    <div class="cb-header">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 col-sm-3">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script type="text/javascript">

    function getProductsAndRender(option = '') {
        $.ajax({
            url: "/api/products" + '?sort=' + option,
        }).done(function (result) {
            $('#articlelist').empty();
            for (let i = 0; i < result.length; i++) {
                renderProduct(result[i])
            }
        });
    }

    function renderProduct($product) {
        $('<div class="col-lg-4 col-sm-6 articleitem" id="article-pattern">' +
            '                                <div class="b-article">' +
            '                                    <div class="v-img">' +
            '                                        <a href="/product/' + $product.id + '">' +
            '                                            <img src="/storage/' + $product.picture + '" alt=""></a>' +
            '                                    </div>' +
            '                                    <div class="v-desc">' +
            '                                        <a href="/product/' + $product.id + '">' + $product.name + '</a>' +
            '                                    </div>' +
            '                                    <p>' + $product.description.slice(0, 20) + '...</p>' +
            '                                    <div class="v-views">' +
            '                                        ' + $product.views + ' vues' +
            '                                    </div>' +
            '                                </div>' +
            '</div>')
            .appendTo($('#articlelist'));
    }

    $(document).ready(function () {
        getProductsAndRender();
    });
</script>
{% endblock %}
