{% extends "base.html" %}

{% block title %}Produit{% endblock %}

{% block body %}
<div class="content-wrapper upload-page edit-page  bg-light">

    <!-- channel -->
    <div class="container-fluid add-header">
        <div class="row">
            <h1>
                Que souhaitez-vous donner ?
            </h1>
        </div>
    </div>


    <div class="container mt-30  ">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-8 mx-auto shadow p-4 bg-white">
                    <div class="u-form p-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e1">Titre</label>
                                    <input type="text" name="name" class="form-control" id="e1"
                                        placeholder="Jeu de cartes (rare)">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Description</label>
                                    <textarea class="form-control" name="description" id="e2" rows="3" required
                                        aria-required=""></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e2">Ville</label>
                                    <input class="form-control cityAutoComplete" type="text" autocomplete="on"
                                        required />
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="e3">Image</label>
                                    <input type="file" class="form-control" name="picture" id="e3" rows="3" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="u-area mt-small">
                        <form action="#" method="post">
                            <button name="submit" class="btn btn-primary u-btn">Valider</button>
                        </form>
                    </div>
                    <div class="u-terms">
                        <p>En soumettant votre article vous acceptez les <a href="#">conditions générales</a> de Vide
                            Grenier en
                            ligne.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block javascript %}
<script type="text/javascript">
   const $cityAutoComplete = $('.cityAutoComplete');
    $cityAutoComplete.autoComplete({
        resolver: 'custom',
        events: {
            search: (qry, callback) => {
                // Make a custom AJAX call
                $.ajax({
                    url: '/api/cities',
                    data: { query: qry }
                })
                .done(res => callback(res))
                .fail((xhr, status, error) => {
                    console.error(`Error fetching cities: ${error}`);
                    callback([]);
                });
            }
        }
    });

    // Set a placeholder for the input field
    $cityAutoComplete.attr('placeholder', 'Search for cities...');
</script>
{% endblock %}
